python-dotenv==1.0.1
boto3==1.37.9
fastapi==0.115.11
mangum==0.19.0
uvicorn==0.34.0
pypdf==5.3.1
chromadb==0.6.3
numpy==1.26.3
langchain==0.3.20
langchain-aws==0.2.15
langchain-community==0.3.19
langchain-chroma==0.2.2